div.sample_popup { background-color: white; border: 2px solid #333333; width: 300px; padding: 5px; cursor: default; font-size: 7.5pt; color: #333333;}
div.sample_popup img.menu_form_exit {float:  right; margin: 0px; cursor: pointer;}


